.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1px solid grey ;
    border-top: 0;
    font-size: max(1vw, 10px);
    background-color: #F6F5F2;
    
}
.sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid black;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s all ease-in;
}
.sidebar-option:hover{
    background-color: brown;
    color: aliceblue;
   
}
.sidebar-option.active{
    background-color: tomato;
    border-color: black;
    color: white;

}
    

@media (max-width:900px) {
    .sidebar-option p{
        display: none;
    }
}