.navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.navbar .logo {
  width: 70px;
}

.mobile-menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 30px;
  color: black;
  font-size: 20px;
  align-items: center;
  cursor: pointer;
}

.navbar-menu a, .navbar-menu .active, .navbar-menu Link {
  text-decoration: none;
  color: black;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid black;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbar button:hover {
  background: tomato;
  color: white;
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(255, 99, 71, 0.5);
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 3px solid brown;
  transition: all 0.3s ease;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: brown;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}

.navbar-profile {
  position: relative;
  cursor: pointer;
}

.nav-profile-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid black;
  outline: 2px solid #fff;
  list-style: none;
  min-width: 120px;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: 2px solid tomato;
  padding: 10px;
  border-radius: 20px;
}

.nav-profile-dropdown li:hover {
  color: tomato;
}

@media (max-width: 900px) {
  .mobile-menu-icon {
    display: block;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px 0;
    z-index: 100;
  }

  .navbar-menu.open {
    display: flex;
  }

  .navbar-menu a {
    padding: 10px 20px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
  }

  .navbar-right {
    margin-top: 10px;
  }

  .navbar-profile .nav-profile-dropdown {
    top: 60px;
    right: 0;
  }
}
