.order-item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 2fr;
    align-items: start;
    gap: 40px; 
    border: 2px solid #e0e0e0;
    padding: 25px;
    margin: 30px 0;
    font-size: 15px;
    color: #404040; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    transition: transform 0.3s ease;
}


.order-item-food, .order-item-name {
    font-weight: 700; 
}

.order-item-name {
    margin-top: 20px;
    margin-bottom: 5px;
}

.order-item-address {
    margin-bottom: 12px;
}

.order-item select {
    background-color: #ffe5e5; 
    border: 2px solid tomato;
    width: max(12vw, 130px);
    padding: 12px;
    outline: none;
    border-radius: 12px;
    color: #202020;
    cursor: pointer;
    transition: background 0.3s ease;
}

.order-item select:hover {
    background-color: #ffdada;
}

.order-item img {
    transition: 0.4s all ease-in-out;
    border-radius: 10px;
    border: 2px solid #ff7f7f;
}

.order-item img:hover {
    transform: scale(1.15);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
span{
    color: tomato;
    font-weight: 700;
}

/* Responsive Design */
@media (max-width: 600px) {
    .order-item {
        grid-template-columns: 0.5fr 2fr 1fr;
        padding: 15px 10px;
        gap: 20px;
        font-size: 13px;
    }

    .order-item select {
        padding: 8px;
        font-size: 12px;
    }

    .order-item img {
        width: 50px;
    }
}
