.notification-wrapper {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .notification-icon {
    width: 30px;
    height: 50px;
    color: tomato;
  }
  
  .notification-dot {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
  }
  
  .notification-dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    background: white;
    width: 250px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    border-radius: 8px;
    padding: 10px;
  }
  
  .notification-item {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
  }
  
  .notification-item p {
    margin: 0;
    font-size: 14px;
  }
  
  .notification-item span {
    font-size: 10px;
    color: gray;
  }
  
  .no-notification {
    font-size: 14px;
    color: gray;
    text-align: center;
    padding: 10px 0;
  }
  