.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    border: 1px solid grey;
    background-color: #F6F5F2;
    
}
.navbar img.logo{
  width: max(10%, 80px);
  
}
.navbar .profile{
    width: 40px;
    border: 2px solid brown;
    border-radius: 50%;
    transition: 0.5s all ease-in-out;
}
.navbar .profile:hover{
  transform: scale(1.1);
}