.food-display {
    margin-top: 30px;
  }
  
  .food-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
    color: #2C1D16;
    transition: color 0.3s ease-in-out;
  }
  
  .food-display h2:hover {
    color: #e74c3c; 
  }
  
  .food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
  }
  
  .hero hr {
    margin: 10px 0;
    height: 2px;
    background-color: black;
    border: none;
    margin-top: 80px;
  }
  .see-more-container {
  text-align: center;
  margin-top: 20px;
}

.see-more-button {
  background-color: transparent;
  color: #333;
  border: 2px solid #333;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 25px;
}

.see-more-button:hover {
  background-color: #333;
  color: white;
}

  
  /* Responsive design */
  @media (max-width: 768px) {
    .food-display h2 {
      font-size: max(4vw, 20px); 
    }
  
    .food-display-list {
      gap: 20px; 
    }
  }
  
  @media (max-width: 480px) {
    .food-display h2 {
      font-size: max(5vw, 18px); 
    }
  
    .food-display-list {
      gap: 15px; 
    }
  
    .hero hr {
      margin-top: 60px; 
    }
  }
  