.list-table-format {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 12px;
    padding: 15px 20px;
    font-size: 14px;
    border-radius: 8px;
    background-color: #FBFBFB;
    color: black;
   
}

.list-table-format .title {
    background-color: #f4f4f4;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.list-table-format img {
    width: 60px;
    border-radius: 50%;
    border: 2px solid tomato;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
    
}
.list-table-format img:hover{
    transform: scale(1.1);
}
.cursor {
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: 3px solid tomato;
    border-radius: 50%;
    padding: 5px; 
   
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 40px; 
    height: 40px; 
    transition: 0.2s all ease-out;
    background-color: tomato;
}
.cursor:hover{
    background-color: #ffe1e1;
    color: black;
    
}

@media (max-width: 600px) {
    .list-table-format {
        grid-template-columns: 1fr 2fr 1fr;
        gap: 10px;
        padding: 10px;
        font-size: 12px;
    }

    .list-table-format .title {
        display: none;
    }

    .list-table-format img {
        width: 50px;
    }
}
